# TODO modify to correct syntax

pip install trimesh
pip install pytorch3d -f https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py3x_cu118_pyt2.1_download.html

openexr
opencv-python
open3d
pip install git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8

numpy 1.26.4 (<2)

safetensors

huggingface_hub

pip install xformers==0.0.23.post1 --index-url https://download.pytorch.org/whl/cu118

Imath